body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #558b2f; /* Un color verde para el tema de cafetería */
}

.button {
    display: inline-block;
    background-color: #558b2f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.destacados-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.destacado img, .menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.menu-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.menu-item h3 {
    margin-top: 0;
}

.precio {
    color: #d32f2f; /* Un color rojo para el precio */
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
